body {
    background-color: #e0c3fc;
    /* Фіолетовий фон */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.main-title {
    font-size: 24px;
    font-weight: bold;
    color: #6d2c91;
}

.timer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    background-color: #f0f0f0;
    /* Світлий фон для цифр */
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.label {
    font-size: 14px;
    color: #888888;
}

button {
    background-color: #f8b4d9;
    /* Рожевий колір кнопок */
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
}

button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

input[type="text"] {
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
}